* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: whitesmoke;
}

.display-1 {
    font-size: 3em;
}

.display-2 {
    font-size: 1.6em;
}

.display-3 {
    font-size: 1.2em;
}
